{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% for user in users %}
    {{user.username}} : {{user.email}} <br> <a href ="{{ path("admin.remove",{'id': user.id}) }}"> Usuń użytkownika</a>
    <a href ="{{ path("admin.edit",{'id': user.id})}}">Edytuj użytkownika</a>
    <br><br>
    {% endfor %}
{% endblock %}