{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% for user in users %}
    {{ user.username }} - {{ user.email }} 
    <br><a href="{{path ("Admin.remove",{'id': user.id})}}">USUŃ</a>
    <a href="{{path ("Admin.update", {'id': user.id})}}">EDYTUJ</a>
    <br><br>
    {% endfor %}
{% endblock %}
