{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {{ form_row(form.plainPassword) }}
  

    <button type="submit">Change Password!</button>
    
    {{ form_end(form) }}
{% endblock %}